<%- include("header") -%>

<h2>This is the about page</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, porro id! Nulla cum aliquam eos asperiores laboriosam id, accusantium, reprehenderit excepturi facilis nihil, temporibus velit minima numquam. Obcaecati, sequi ullam?</p>

<%- include("footer") -%>